<div class="container">
    <div class="card">
        <mat-card class="content-card">

            <div class="image-center">
                <img mat-card-image src="../../../assets/images/angular-logo.png" alt="logo">
            </div>

            <mat-card-header class="card-header-title">
                <mat-card-title>
                    <h2>
                        Portal Angular Material
                    </h2>
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <form [formGroup]="userLoginForm">
                    <div class="forms">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>E-mail</mat-label>
                                <input formControlName="email" matInput type="email" placeholder="Digite seu E-mail">
                                <mat-error *ngIf="userLoginForm?.get('email')?.invalid">Insira um email válido</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Senha</mat-label>
                                <input formControlName="password" type="password" matInput placeholder="Digite sua Senha">
                                <mat-error *ngIf="userLoginForm?.get('password')?.invalid">Insira sua senha</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions class="buttons">
                <button mat-raised-button color="primary">Login</button>
                <button mat-raised-button color="primary" routerLink="/register">Registrar-se</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>